* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'latoregular';
}

body > * {
    width: 100%;
}

.block {
    margin: 0 auto;
    width: 940px;
}

.head {
    padding-top: 26px;
    background-color: #2d303a;
    height: 63px;
    border-bottom: 6px solid #323746;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-content-logo {
    display: flex;
    font-family: 'latobold';
}

.head-content-logo h1 {
    color: white;
    letter-spacing: -0.58px;
    font-size: 25px;
}

.head-content-logo span {
    color: #f06c64;
    font-size: 25px;
}

.head-content-menu {
    padding-top: 8px;
    letter-spacing: -0.15px;
}

.head-content-menu ul li {
    display: inline-block;
    list-style: none;
    color: white;
    font-family: 'latobold';
    font-size: 12px;
    letter-spacing: -0.29px
}

.head-content-menu ul li:not(:last-child) {
    margin-right: 23.79px;
}

.head-content-menu ul li:not(:first-child)::before {
    content: "·";
    color: #494e62;
    position: relative;
    left: -14px;
}

.head-content-menu-selected {
    color: #f06c64 !important;
}

.slider {
    height: 541px;
    padding-top: 53px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-content {
    display: grid;
    grid-template-columns: 18px auto 18px;
}

.slider-button {
    padding-top: 228px;
    padding-left: 2px;
}

.slider-img {
    display: flex;
}

.slider-forward img {
    transform: rotate(180deg);
}

.slider-img-vertical,
.slider-img-horizontal {
    margin-left: 54px;
    display: flex;
}

.slider-img-vertical-phone,
.slider-img-horizontal-phone {
    height: 458px;
    z-index: 2;
}

.slider-img-vertical-shadow,
.slider-img-horizontal-shadow {
    position: absolute;
    z-index: 1;
}

.slider-img-vertical-background,
.slider-img-horizontal-background {
    height: 339px;
    position: absolute;
    margin-top: 62px;
    margin-left: 11px;
    z-index: 3;
}

.slider-img-horizontal {
    margin-top: -1px;
    transform: translateX(165px) rotate(90deg);
}

.slider-img-horizontal-shadow {
    transform: translateY(-26px) scale(1, -1);
}

.services {
    background-color: #f2f2f2;
    padding-top: 55px;
}

.services-content p {
    color: #767e9e;
    font-family: 'latoregular';
}

.services-content > h2 {
    font-size: 30px;
    margin-bottom: 17px;
    color: #666d89;
    font-family: 'latoblack';
    letter-spacing: 0.04px;
}

.services-content > p {
    font-size: 18px;
    font-family: 'latolight';
    margin-bottom: 45px;
    letter-spacing: -0.049px;
    line-height: 29px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 37px;
    list-style: none;
    padding-bottom: 67px;
    border-bottom: 6px solid #ffffff;
}

.services-list li {
    display: flex;
    height: 87px;
}

.services-list li::before {
    content: '';
    background-size: 60.5px;
    width: 60.5px;
    height: 60.5px;
    margin-left: -1px;
}

.services-list li:nth-child(1)::before {
    background: url("assets/pen.svg");
}

.services-list li:nth-child(2)::before {
    background: url("assets/lamp.svg");
}

.services-list li:nth-child(3)::before {
    background: url("assets/heart.svg");
}

.services-list li:nth-child(4)::before {
    background: url("assets/phone.svg");
}

.services-list li:nth-child(5)::before {
    background: url("assets/bumble.svg");
}

.services-list li:nth-child(6)::before {
    background: url("assets/star.svg");
}

.services-list-text {
    width: 218px;
    margin-left: 20px;
}

.services-list-text h3 {
    color: #666d89;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.3px;
}

.services-list-text p {
    font-size: 12px;
    line-height: 20px;
}